.sidebar {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px
}

.sidebar__header {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color: #fff;

}

.sidebar__name {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 10px 16px;
}

.sidebar__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.sidebar__button {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar__button:hover {
    text-decoration: underline;
}

.header__profile-avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    background-color: #f0f0f0;
    border-radius: 50%;
    overflow: hidden;
    border: #a8a8a8 1px solid;
}

.header__profile-avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

