.item-modal__container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 500px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
}

.item-modal__content {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}

.item-modal__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

}

.item-modal__delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #FF4D00;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    height: 24px;
}

.item-modal__title {
    margin: 0;
    font-family: "Cabinet Grotesk", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
}

.item-modal__desc {
    margin: 0;
    font-family: "Cabinet Grotesk", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
}

.item-modal_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.item-modal__close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}