.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  border-radius: 19px;
  overflow: hidden;
  border: 1px solid #0000004d;
  cursor: pointer;
  aspect-ratio: 1 / 1;
}

.item-card:hover {
  transform: scale(1.02);
}

.item-card__header {
  margin: 0;
  /* transform: translateX(-50%); */
  background-color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
  padding: 2px 12px;
  border-radius: 4px;
  box-sizing: border-box;
}

.item-card__header-container {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-40%);
  display: flex;
  align-items: center;
}

.item-card__like-button {
  border: none;
  background: none;
  padding: 0;
  padding-left: 4px;
  transform: translateY(5%);
  cursor: pointer;
}

.item-card__icon {
  width: 20px;
  height: 20px;
  color: #999;
  transition: all 0.2s ease;
}

.item-card__icon:hover {
  color: #e0245e;
  transform: scale(1.05);
}

.item-card__icon:active {
  transform: scale(0.95);
}

.item-card__image {
  border-radius: 19px;
  width: 100%;
  aspect-ratio: 1 / 1;
}
