@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('./assets/fonts/CabinetGrotesk-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('./assets/fonts/CabinetGrotesk-Medium.otf') format('opentype');
  font-weight: normal;
}

.page {
  padding: 0 40px;
  margin: 0;
  font-family: 'Cabinet Grotesk', sans-serif;
  height: 100vh;
  position: relative;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  max-width: 100vw;
}