.weather-card {
    max-height: 80px;
    border-radius: 12px;
    max-width: 100%;
    display: flex;
    padding: 20px 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.weather-card__temperature {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 1300px) {
    .weather-card {
        background-size: contain;
    }
}